<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{{ 'general.404.title' | t }}</h1>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
        {{ 'general.404.subtext' | t }}
    </p>
  </div>
</div>

<div class="section clearfix">  
  <div class="sixteen columns center">
    <p class="extra_padding">
      {{ 'general.404.continue_shopping_html' | t }}
    </p>
  </div>    
  <div class="eight columns offset-by-four error-col">
    <form class="search" action="/search">
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms }}" style="width: 100%" />
    </form>
  </div>
  <br class="clear" />
  <br class="clear" />
  <br class="clear" />
</div>
