{% comment %}
  The contents of the collection.sub-collections-template.liquid template can be found in /sections/collection-sub-collections-template.liquid
{% endcomment %}
<div class="custom-container">
{% section 'collection-sub-collections-template' %}
</div>  