<div class="collection-pg">
  <div class="container">
  {% for collection in collections %}
  	{% if collection.handle == 'grande-box' or collection.handle == 'petite-four-box' or collection.handle == 'mini-box' %} 
     <div class="eight columns">
		<a href="{{ collection.url }}" title="{{ collection.title }}">
		{% if collection.image %}
		<div class="img-bg" style="background-image: url({{ collection | img_url: '675x648' }})"></div>
		{% endif %}
        </a>  
		<div class="txt">
		  {% if collection != blank %}
  		    <h3>{{ collection.title }}</h3>
		  {% endif %}
		  {% if collection.description != blank %}
 		   {% comment %} {% if collection.handle == 'eternity-roses' %}
          		<h4>Australia Wide</h4>  
          	{% else if collection.handle == 'fresh-roses' %}
          		<h4>Sydney Delivery Only</h4>
            {% else %}
          		<h4>Description</h4>
          	{% endif %}{% endcomment %}
            <p>{{ collection.description }}</p>
		  {% endif %}
		</div>		
    </div>
   {% endif %}   
  {% endfor %}	  
    </div>
</div>