{% comment %}
The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<script type="text/javascript" src="{{ 'jquery_accordion.js' | asset_url }}"></script>

{% section 'product-template-A_grande_box' %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.accordion').accordion({
      defaultOpen: 'section2', 
      cookieName: 'accordion_nav'
    });
  });
</script>


<style>
  .accordion {
    display: block;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #b39271;
    font-family: 'Abrade Book' !important;
    font-weight: normal !important;
    text-align:center;
    cursor:pointer;
  }
  .accordion-open {
    
  }
  .accordion-open span {
    display:inline-block;
    position:relative;
    right:-5px;
    top:4px;
    padding:10px;
  }
  .accordion-open span {
    background:url('{{ 'minus.png' | asset_url }}') center center no-repeat;
      }
  .accordion-close span {
    display:inline-block;
    position:relative;
    right:-5px;
    top:4px;
    background:url('{{ 'plus.png' | asset_url }}') center center no-repeat;
      padding:10px;
      }
  .ProductDetailsAccordion div.container {
    padding:0;
    margin:0;
  }
  .ProductDetailsAccordion div.container {
    max-width:100%;
    padding:5px 0;
    position:static;
  }
  .ProductDetailsAccordion div.content {
    background: transparent;
    margin: 0;
    padding:0 0 15px;
    font-size:.9em;
    line-height:1.5em;
  }
  .ProductDetailsAccordion div.content ul {
    padding:0;
    margin:0;
    padding:3px;
  }
  .ProductDetailsAccordion div.content p {
    padding:0;
    margin:3px 0 10px;
    padding:0px;
  }
  .ProductDetailsAccordion div.content ul li {
    list-style-position:inside;
    line-height:25px;
  }
  .ProductDetailsAccordion .personalise 
  {	margin-top:-20px;
  }
  .ProductDetailsAccordion #section3 + .container div.content, .ProductDetailsAccordion #section2 + .container div.content
  {	margin-bottom:0; padding-bottom:0;
  }
  /*div#section2.accordion-open.accordion-close + .container
  {	display:block !important;
  }
  div#section2.accordion-open.accordion-close span 
  {	background:url('{{ 'minus.png' | asset_url }}') center center no-repeat;
  }*/
</style>
