<script>
    var SCTParams = {
        "id" : "612591da0f7fe6ccf1a88724347af549",
        "apiScript" : "{{ 'api.jquery.js' | shopify_asset_url }}",
        "product" : {{ product | json }},
        "collection": {{ collection.id | json }},
        "template": {{ template.name | json }},
      	"page": {{ page.handle | json }}
    }
</script>