<div class="footer">
  <div class="container">

    <div class="four columns">
      <h6>{{ linklists[section.settings.footer_linklist_1].title }}</h6>
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_1].links %}
          <li>
            <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
          </li>
          {% for sub_link in link.links %}
            <li>
              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
            </li>
            {% for sub_sub_link in sub_link.links %}
              <li>
                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

    <div class="four columns">
      <h6>{{ linklists[section.settings.footer_linklist_2].title }}</h6>
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_2].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% for sub_link in link.links %}
            <li>
              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
            </li>
            {% for sub_sub_link in sub_link.links %}
              <li>
                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    
    <div class="four columns">
      <h6>{{ linklists[section.settings.footer_linklist_3].title }}</h6>
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_3].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% for sub_link in link.links %}
            <li>
              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
            </li>
            {% for sub_sub_link in sub_link.links %}
              <li>
                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    
    <div class="four columns">
      <h6>{{ linklists[section.settings.footer_linklist_4].title }}</h6>
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_4].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% for sub_link in link.links %}
            <li>
              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
            </li>
            {% for sub_sub_link in sub_link.links %}
              <li>
                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
   </div>
   <div class="copyright">	
   <div class="container">
   
    <div class="four columns">
      {% if section.settings.footer_content_text != blank %}
        {{ section.settings.footer_content_text }}
      {% endif %}
    </div>

 	<div class="eight columns">
      {% if section.settings.footer_logo != nil %}
	    <a href="{{ shop.url }}" title="{{ shop.name }}">
          <img src="{{ section.settings.footer_logo | img_url: '280x', scale: 2 }}" alt="{{ shop.name }}" />
        </a>
      {% endif %}      
	</div>

     <div class="four columns">
      <p class="credits">
        Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.<br>
        {{ section.settings.copyright_text | escape }}
      </p>
    </div>
  </div>
   </div>

</div> <!-- end footer -->

{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_linklist_1",
      "label": "Menu 1",
      "default": "footer",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_2",
      "label": "Menu 2",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_3",
      "label": "Menu 3",
      "info": "This menu won't show dropdown items"
     },
    {
      "type": "link_list",
      "id": "footer_linklist_4",
      "label": "Menu 4",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "richtext",
      "id": "footer_content_text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
	{
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo",
      "info": "Show Footer Logo"
     }
  ]
}
{% endschema %}