shtml {
  overflow-y: scroll;
}

body {padding-top: 155px !important; font-family:'Abrade Book' !important; font-weight: 350 !important; color:#b39271 !important; letter-spacing:1px;}

a, a:visited {color:#b39271 !important;}
a:hover {color:#72583e !important;}

div.promo_banner {background-color:#b39271; position: fixed; left: 0px; right: 0px; top: 0px;}


.products .thumbnail .money,
.products span.title,
div.promo_banner p,
div.promo_banner span,
.nav ul li a,
.newsletter-section .newsletter-wrap h2,
.newsletter-section .newsletter-wrap p,
.newsletter-section .newsletter-wrap form.contact-form input.action_button,
.featured-content-section .cmt-title,
.featured-content-section .section .cmt-info p,
.footer a,
.footer .copyright .credits,
.footer .copyright p,
.collection-pg h3,
.collection-pg h4,
.collection-pg p,
.collection-pg span,
ul.gridproducts li .price,
.collection-sub-collections ul.gridproducts li .block__title,
h1.collection_title,
.checkout_table_header h4,
h4.subtotal,
.action_button,
#recover-password h4,
#shipping-calculator h4,
.page-contact .contact-section h1,
.container .product-template-section h1.product_name,
.container .product-template-section span.current_price,
.container .product-template-section .description,
.container .product-template-section .swatch .option_title,
.container .product-template-section h2.title,
.customers-account .group h4.name,
.customers-account #customer_orders h4,
.product-a .container .product-template-section a.product_collection,
.customers-addresses .container h4#add_address_title,
.customers-account .group h4.name,
.customers-account #customer_orders h4,
.customers-login #socialdata .social h4,
.customers-register #socialdata .social h4,
.product-template-section .line-item-property__letter label,
.product-template-section .switch-field.line-item-property__dots .switch-title,
.product-template-section .switch-field.line-item-property__display .switch-title,
.product-template-section .switch-field label,
.product-template-section a.product_collection,
.customers-order .sixteen.columns h4,
.customer_address h4 {font-family:'Abrade Book' !important; font-weight: normal !important;}
 
.homepage_content .thumbnail .price,
.thumbnail .quick_shop,
.featured-content-section .section p,
.footer h6,
.products .thumbnail .price {font-family:'Abrade Bold' !important; font-weight: 700 !important;}
.product-template-section .product-img-custom {font-family:'sans-serif' !important; font-weight: 700 !important;}

div.promo_banner p,
div.promo_banner span,
.nav ul li a {font-size: 14px !important; text-transform: none !important; letter-spacing: 1.4px !important; line-height: 21px !important ;}
.nav ul li a {color:#b39271 !important;}
.nav ul li a:hover {color:#72583e !important;}

div.promo_banner .promo_banner-close {display:none !important;}

ul.top_menu {display:none !important;}

.header { margin: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: .15s linear margin;
    transition: .15s linear margin;
    zoom: 1;
    padding-bottom: 5px !important;
    background: #fff;}

.logo.header-logo {width: 100% !important; display: block; float: none !important; text-align: center;}

.header-logo.logo a {max-width: inherit !important; padding-top: 19px !important; display:inline-block;}

.header .container,
.container .sixteen.columns {width: 100%; margin: auto; float:none;}
.header ul.nav_buttons.menu {margin-right: 50px;}
.header ul.main.menu {float: left; margin-left: 34px;}
.header .nav ul li a.cart_button {padding:0px; border:0px}
.header .nav ul li a.cart_button .icon-bag { display:none;}

.animated.slideDown {
    top: 0;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.animated.slideUp {
    top: -200px;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.header_border {border-bottom-color:#f7f3f4 !important;}


.flex-direction-nav a {color:#fff !important;}

/*.homepage_slider .slides img, .article .slides img {height:610px !important;}*/
.homepage_slider .flex-control-nav {left:0px; right:0px !important;}
.homepage_slider .flex-control-nav li a { margin-left:3px !important; margin-right:3px !important;}

.featured-collection-section {margin-top:21px;}
.featured-collection-section .image__container { margin-left:5px; margin-right:5px;}

.featured-content-section .cmt-title {font-size:16px; letter-spacing: 3.2px; color:#b39271; text-transform: uppercase; text-align:center; position:relative; cursor: pointer; 
     margin-top: 25px; padding-right:0px;}
/*.featured-content-section .cmt-title:after {font-family: "FontAwesome"; content: "\f107"; font-size: 24px; padding-left: 10px; position: absolute; top:-2px;}*/

.featured-content-section .cmt-title:after {content: ""; background-image: url(dropdwon-arrow.png); width:16px; height:8px; background-repeat: no-repeat; display:inline-block; margin-left: 10px; position: relative; top:-2px;}
.featured-content-section .cmt-title.cmt-show:after {-moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); margin-right:0px;}

.featured-content-section .cmt-info {display:none; max-width:730px; margin:10px auto 0px auto; }
.featured-collection-section .container.content {padding-top:1px !important;}

.products {padding-left: 10px;}
.products .image__container {background: #efefef; overflow: hidden;}
.products .image__container img {-webkit-transform:all 0.3s ease; -moz-transform:all 0.3s ease; -ms-transform:all 0.3s ease; -o-transform:all 0.3s ease; transition:all 0.3s ease; -webkit-transform: scale(1); -moz-transform: scale(1);
-ms-transform: scale(1); -o-transform: scale(1); transition: scale(1); opacity: 1 !important;}
.products .image__container:hover img {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1);
-o-transform: scale(1.1); transition: scale(1.1);}


.products .thumbnail .info {text-align: center;}

.products .product_image {margin-bottom: 9px !important;}

.products span.title {display:block; overflow: hidden; max-height: 51px;}
.products .thumbnail .price {text-align: right; float: none;
    width: 100%; text-align: center;}


.products span.title,.index .products .title a
.products .thumbnail .price,
.products .thumbnail .money {font-size:16px !important; letter-spacing: 2px !important; color:#b39271;}
.products .thumbnail .quick_shop {background-color:#b39271 !important; letter-spacing: 3px !important; }
.products .thumbnail .money {margin-top: 3px !important; display: block;}


.products .thumbnail:hover span.title,
.products .thumbnail:hover .price,
.products .thumbnail:hover .money { color:#72583e;}


.featured-content-section .section img { display:block; margin:auto;}
.featured-content-section .section p {letter-spacing: 3.2px; font-size:18px; color:#b39271; text-align:center;margin-top:11px; margin-bottom:0px}

.featured-collection-section .thumbnail a {padding-bottom:0px;}
.featured-collection-section .thumbnail {margin-bottom:0px;}

.featured-content-section .homepage_content.section.clearfix {padding-top:7px; padding-bottom:9px; margin-bottom:0px;}

.information-content-section .homepage_content .four.columns,
.information-content-section .homepage_content .eight.columns {float: none; display: inline-block; width: 25%;
  margin-right: -5px; margin-left: 0px;  vertical-align: top; padding-left: 15px; padding-right: 15px; }
.information-content-section .homepage_content .eight.columns { width:50%;}



.newsletter-section {border-top:1px #f7f3f4 solid; float:left;  width:100%; margin-top:45px;}
.newsletter-section .newsletter-wrap h2,
.newsletter-section .newsletter-wrap p {font-size: 16px; color: #9d7954 !important; letter-spacing: 1.6px; line-height:24px;}
.newsletter-section .newsletter-wrap h2 {margin-bottom: 10px !important; text-transform: uppercase; letter-spacing: 3.2px;}
.newsletter-section .newsletter-wrap p {margin-bottom: 0px !important; padding-left:50px; padding-right:50px;}
.newsletter-section .text {max-width: 90% !important; float:none;}
.newsletter-section .newsletter-wrap {padding-top:24px !important; padding-bottom:30px !important;}

.newsletter-section .newsletter-wrap form.contact-form input.contact_email {border: 0;
    padding: 0 27px; height: 34px; outline: 0; background: #f7f3f4;
    font-family: "proxima_nova",Helvetica,Arial,sans-serif; font-style: initial; font-size: 14px;
    display: inline-block; vertical-align: top; color:#ceb6bc; width:314px !important; letter-spacing: 1px;}

.newsletter-section .newsletter-wrap form.contact-form input.action_button {outline: 0;
    border: 0; padding: 0px; font-size: 18px; color: #b39271; display: inline-block; vertical-align: top;
    background-color: #b39271; color: white; height: 34px; vertical-align: top; text-transform:none !important; letter-spacing:2.4px; width:122px;}

.newsletter-section ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ceb6bc;
}
.newsletter-section ::-moz-placeholder { /* Firefox 19+ */
  color: #ceb6bc;
  opacity: 1;
}
.newsletter-section :-ms-input-placeholder { /* IE 10+ */
  color: #ceb6bc;
}
.newsletter-section :-moz-placeholder { /* Firefox 18- */
  color: #ceb6bc;
}

.newsletter-section .newsletter-wrap {display:block !important; padding:0px !important;}
#shopify-section-newsletter.newsletter-section .container { padding-top:10px !important; padding-bottom:10px !important; margin-top:45px;}

div.footer {background-color:#fff !important; border-top:solid 1px #f7f3f4 !important; padding-top:62px !important; padding-bottom:24px  !important;}
.footer h6,
.footer a {
	font-size: 14px;
    letter-spacing: 2.6px;
    color: #b39271 !important;
}
.footer h6 {text-transform: uppercase;}
.footer a {color:#b39271 !important; font-size:12px; line-height:24px;} 
.footer a:hover { color:#72583e !important;}
.footer li {padding:0px !important;}


.footer .four.columns,
.footer .copyright .eight.columns {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-left: 0px;
    text-align: left;
    margin-right: 0px;
  width:240px !important;
}

.footer .copyright .four.columns,
.footer .copyright .eight.columns {margin-right: -3px;}


.footer .four.columns:first-child {margin-left:116px; width: 248px !important;}
.footer .copyright .four.columns:first-child {margin-left:0px;}
.footer .four.columns:nth-of-type(2) {width: 286px !important;}
.footer .four.columns:nth-of-type(3) {width: 284px !important;}
 

.footer ul {margin-bottom:44px !important;}

.copyright {border-top:solid 1px #f7f3f4 !important; padding-top:30px;}
.copyright hr {display:none;}

.footer .copyright .four.columns {width:25% !important; text-align:center; vertical-align: middle;}
.footer .copyright .eight.columns {width:50% !important; text-align:center; margin-right:-5px; margin-left:-5px; vertical-align: middle;}
.footer .copyright p,
.footer .copyright .credits a,
.footer .copyright .credits {font-size:16px; line-height:19px; letter-spacing: 1.6px; color:#b39271; margin-bottom:0px !important;}
.footer .copyright .credits a {text-transform: uppercase;}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-container { 
    position: relative;
    margin: 0 26px;
    padding: 0 0 257px;
}

.block{
    opacity:0;
    margin-bottom:16px;
}
[class*='block--']{
    float:left;
    border-left:15px solid white;
    border-right:15px solid white;
    border-bottom:50px solid white;
    padding-bottom:30%;
    margin-bottom:40px;
    position:relative;
}

.block--three.block--square{
    padding-bottom:25%;
}

.block--six.block--square{
    padding-bottom:50%;
}

.block--three{
    width:25%;
}

.block--six {
    width:50%;
}

ul.gridproducts {    
    padding:0;
    list-style: none;
    margin: 0 -13px !important;
    zoom: 1;
}

ul.gridproducts li a:before { 
  	content: "";
  	width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.block__title{
    min-height:50px;
    line-height:50px;
    text-align:center;
    color:#b39271;
    position:absolute;
    left:0;
    right:0;
    bottom:-50px
}
.block__title+a{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}
.block__title a{
    text-decoration:none
}

ul.gridproducts .block--six .price {
    font-size: 1.6rem;
}

ul.gridproducts li .price {
    font-style: italic;
    font-size: 1.6rem;
  	text-align:center;
}

ul.gridproducts li .currency {
    font-size: 50%;
    font-style: normal;
    vertical-align: top;
    line-height: 2;
}

.collection-pg {padding-left:25px; padding-right:25px; padding-top:10px; padding-bottom:0px; float:left; width:100%; margin-bottom:-16px;}

.collection-pg .img-bg {
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
   -webkit-transform:all .5s; -moz-transform:all .5s; -ms-transform:all .5s; -o-transform:all .5s; transition:all .5s;
}

    @media screen and (min-width: 1200px) {
        .collection-pg .img-bg {min-height: 390px !important;}
	}

	@media screen and (min-width: 1400px) {
        .collection-pg .img-bg {min-height: 390px !important;}
	}

	/*80% and 75%*/
	@media screen and (min-width: 1600px) {
		.collection-pg .img-bg {min-height: 725px !important;}
	}

	/*67%*/
	@media screen and (min-width: 1900px) {
		.collection-pg .img-bg {min-height: 890px !important;}
	}

	/*50%*/
	@media screen and (min-width: 2300px) {
		.collection-pg .img-bg {min-height: 1220px !important;}
	}

	/*33%*/
	@media screen and (min-width: 3000px) {
		.collection-pg .img-bg {min-height: 2000px !important;}
	}

	/*25%*/
	@media screen and (min-width: 3300px) {
		.collection-pg .img-bg {min-height: 2500px !important;}
	}

.collection-pg .img-bg:hover {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1);
-o-transform: scale(1.1); transition: scale(1.1);}

.collection-pg .eight {width:50% !important; position: relative; margin-left:0px; margin-right:0px; padding-left:25px; padding-right:25px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; padding-bottom:30px;}
.collection-pg .eight a {overflow: hidden; display: block; width:100%; margin:auto;}
.collection-pg .txt {display: block; margin-top: 29px;}
.collection-pg h3,
.collection-pg h4,
.collection-pg p,
.collection-pg span {letter-spacing:5px; color:#b39271; text-align:center;}
.collection-pg h3 {font-size:50px;}
.collection-pg h4 {font-size: 19px; border-bottom: 0px; line-height: 22px; text-transform: uppercase; margin-top: 26px; letter-spacing: 3px; margin-bottom:8px;}
.collection-pg p,
.collection-pg span {font-size:17px; line-height:24px; letter-spacing: 1.15px; padding-left:25px; padding-right:25px;}

@media screen and (min-width: 1200px) {
  .collection-pg .container {width: 100%;}	
}


.collection-sub-collections .custom-container {padding-top:10px; padding-bottom:0px;}
.collection-sub-collections ul.gridproducts li {-webkit-transform:all .5s; -moz-transform: all .3s; -ms-transform:all .5s; -o-transform:all .5s; transition:all .5s; background-size:100% !important;}
.collection-sub-collections ul.gridproducts li:hover {/*-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1);
-o-transform: scale(1.1); transition: scale(1.1);*/ background-size:110% !important;}
.collection-sub-collections ul.gridproducts li .price {font-style: normal !important; font-size: 17px !important; position: absolute !important; bottom: -68px !important; left: 0px !important; right: 0px !important; text-align: center !important; letter-spacing: 3px !important; color:#b39271;}
.collection-sub-collections ul.gridproducts li .block__title {letter-spacing: 3.15px !important; font-size:17px !important; color:#b39271;}
.collection-sub-collections .sub-collections-template-section {padding-left:20px; padding-right:20px;}
.collection-sub-collections ul.gridproducts li:hover .price,
.collection-sub-collections ul.gridproducts li:hover .block__title {color:#72583e;}

h1.collection_title,
div.collection_title,
.page-contact .contact-section h1 {display: block !important; margin-bottom: 30px !important; font-size: 22px;
    text-transform: uppercase; text-align: center; letter-spacing: 3.2px; color:#b39271 !important;}
#login_form {padding-left: 0px !important; margin: auto; float: none; display: block;}

.checkout_table_header h4,
h4.subtotal {font-size:20px; text-transform: uppercase; color:#b39271 !important;}

div#shopify-section-footer {clear:both;}

.cart .cart_image img {margin-bottom:150px;}
.cart span.money { font-weight:350; color:#b39271 !important;}
.action_button {letter-spacing:2.4px; background-color:#b39271 !important;}
.action_button:hover {background-color:#72583e !important;}

.customers-login .container .six.columns,
.customers-register .container .six.columns,
.page-contact .contact-section .container .eight.columns {max-width:100%; margin: auto; float: none; display: block; padding-left:0px;}

.eight.columns.offset-by-four.error-col {padding-left: 0px; margin: auto !important; float: none !important;
     display: block; max-width:100%;}

.cart .update_subtotal_text {padding-left:0px !important; text-align:right !important; width:73.2% !important;}
.cart .update_subtotal_text p {margin-bottom: 0px; margin-top: 5px;}

.social ul li a {color:#fff !important;}

.cart #shipping-calculator input { width:100%;}
.cart #shipping-calculator-form-wrapper input[type="text"],
.cart #shipping-calculator-form-wrapper select {padding-top:12px !important; padding-bottom:11px !important;}
#shipping-calculator h4 {font-size:20px; text-transform: uppercase; color:#b39271 !important;}
#recover-password h4 {color:#b39271 !important;}

.product .header-section + .container,
.product .container .product-template-section .sixteen.columns,
.product-a .header-section + .container,
.product-a .container .product-template-section .sixteen.columns,
.product-b .header-section + .container,
.product-b .container .product-template-section .sixteen.columns {width:100% !important;}

.product-template-section .eight.columns {width:50% !important; margin-left:0px !important; margin-right:-4px !important; padding-left:25px; padding-right:25px; float:none !important; display:inline-block; vertical-align:middle; position:relative;}

.product-template-section .product_section {padding-left: 25px; padding-right: 25px; margin-top:-5px; margin-bottom:50px;}
.product-template-section h1.product_name { font-size:48px; text-align:center; color:#b39271; letter-spacing:6px; line-height:48px;}

.product-template-section .description {font-size:17px; line-height:24px; text-align: center; letter-spacing: 1.5px;}

.product-template-section .description h2 {     display: block;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #b39271;
    font-family: 'Abrade Book' !important;
    font-weight: normal !important;
}

.product-template-section .description h2:after {
    content: "";
    background-image: url(dropdwon-arrow.png);
    width: 16px;
    height: 8px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -2px;
}
.product-template-section .description h2.cmt-hide:after{-moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); margin-right:0px;}

.product-template-section span.current_price {display:block; text-align:center; font-size:36px; letter-spacing:5px;}

.product-template-section .eight.columns.omega hr {margin-top: 30px; border-color: #f7f3f4;}
.product-template-section .swatch.clearfix {text-align:left;}
.product-template-section .swatch .swatch-element {float:none; display:inline-block; vertical-align:middle; margin-left:5px;  margin-right:5px;}
.product-template-section .swatch label {min-width:55px; float:none;}
.product-template-section .switch-field.line-item-property__size .switch-title,
.product-template-section .switch-field.line-item-property__dots .switch-title,
.product-template-section .switch-field.line-item-property__display .switch-title,
.product-template-section .line-item-property__letter label,
.product-template-section .swatch .option_title {letter-spacing:3px; text-transform: uppercase; font-size:14px; margin-top:12px;}
.product-template-section .switch-field.line-item-property__size .switch-title,
.product-template-section .switch-field.line-item-property__dots .switch-title,
.product-template-section .switch-field.line-item-property__display .switch-title,
.product-template-section .line-item-property__letter label {text-align:center; margin-bottom:5px;}

.product-template-section .swatch-element {border-color:#f7f3f4;}
.product-template-section .swatch_options input:checked+.swatch-element {border-color:#b39271;}
.product-template-section .purchase-details__buttons {margin-top:0px;}
.product-template-section .add_to_cart.action_button {letter-spacing:4px;}
.product-template-section h2.title {font-size: 16px; text-transform: uppercase;
    letter-spacing: 3.2px; border-top: 1px #f7f3f4 solid; border-bottom: 1px #f7f3f4 solid; padding-top: 14px;
    padding-bottom: 10px; margin-top: 5px; color:#b39271;}
.product-template-section .feature_divider {display:none;}
.product-template-section .products {padding-left:35px; padding-right:35px; padding-top:20px; text-align:center;}
.product-template-section .products .one-third.column,
.product-template-section .products .four.columns {float: none; display: inline-block;
    width: 25%; margin-right: -4px; vertical-align: top; margin-left: 0px; padding-left: 15px; padding-right: 15px; margin-bottom:10px;}


.product-template-section a.product_collection {text-align:center; letter-spacing:2px;}
.product-template-section .breadcrumb .right {margin-right:50px;}
.product-template-section .purchase-details__buttons {
	-webkit-box-flex: none;
	-moz-box-flex: none;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	-webkit-flex-wrap: none;
	-moz-flex-wrap: none;
	-ms-flex-wrap: none;
	flex-wrap: none;
	display: block !important;
	width: 100%;
}


.product-template-section .product-img-custom {position: absolute; left: 0px; top: 66.5%; -moz-transform: translate(0px, -66.5%); -webkit-transform: translate(0px, -66.5%); -o-transform: translate(0px, -66.5%); -ms-transform: translate(0px, -66.5%); transform: translate(0px, -66.5%);
    right: 0px; margin: auto; display: block;  letter-spacing: 5px; text-transform: uppercase;
}
.product-template-section .product-img-custom {text-align: center;}
/*
.product-template-section .SmallFont { font-size: 20px; }
.product-template-section .MediumFont { font-size: 40px; }
.product-template-section .LargeFont { font-size: 60px; }
*/
.product-template-section .SmallFont { font-size: 50px; }
.product-template-section .LargeFont { font-size: 100px; }


.product-template-section .line-item-property__letter {text-align: left;}
.product-template-section .line-item-property__letter input[type="text"] {display: inline-block; width: 10%; padding: 10px 5px; text-align:center; border:1px #f7f3f4 solid; margin-bottom: 0px !important;
    margin-left: 4px; margin-right: 4px !important; text-transform: uppercase;}
.product-a_grande_box 
.product-template-section .line-item-property__letter input[type="text"]
{	width: 31%;
}
/*.product-a_accessories 
.product-template-section .line-item-property__letter input[type="text"]*/
.product-a_accessories .ProductDetailsAccordion
{	margin-top:20px; margin-bottom:10px;
}
.product-template-section .switch-field.line-item-property__size,
.product-template-section .switch-field.line-item-property__dots,
.product-template-section .switch-field.line-item-property__display {text-align:left;}
.product-template-section .switch-field label {display:inline-block; border:1px #b39271 solid; color:#b39271; padding:3px 10px; margin-right:-6px; cursor:pointer;}
.product-template-section .switch-field input[type="radio"] {display:none;}
.product-template-section .switch-field input[type="radio"]:checked+label{border:1px #b39271 solid; background:#b39271; color:#fff;}


.shopify-product-form h3 { font-family: 'Abrade Book' !important; font-weight: normal !important;     font-size: 24px;
    line-height: 24px;
    color: #b39271;
    letter-spacing: 1.5px;}

/*.personalise { display:none; }*/
.personalise-buttom { text-align:center; margin-top:35px; }
.personalise-buttom a { display:inline-block; background-color: #b39271; color:#fff !important; padding: 8px 30px; cursor:pointer; width:200px; text-align:center; text-transform: uppercase; letter-spacing: 4px;     min-height: 44px;}
.personalise-buttom a:hover { background-color: #72583e; }

.gallery .fancybox-close {color:#fff !important;}

h4, .h4, h4.title a {border-bottom-color:#f7f3f4 !important;}

.customers-account .group h4.name,
.customers-account #customer_orders h4 {color:#b39271; text-transform: uppercase;}

.customers-account .group .email.note {word-wrap: break-word; line-height: 16px; padding-top: 5px;}

.cart .none hr {border-color:#f7f3f4 !important;}
.cart label,
.cart legend {font-weight:350;}

.customers-addresses .container .section.clearfix .eight.columns {padding-left:0px; text-align:center; float:none; margin:auto; display:block;}
.customers-addresses .container .section.clearfix .eight.columns .action_button {display: inline-block !important;
	color: white !important; letter-spacing: 2.4px !important; width: auto !important;}
.customers-addresses .container .section.clearfix h4#add_address_title {color:#b39271 !important;}
.customers-addresses .section.clearfix #address_form_new,
.customers-addresses .edit_address {text-align: left;}

/*input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
select {border-color:#b39271 !important;}*/

.collection-sub-collections .sub-collections-template-section .collection_nav {float:none; display:none; text-align:center;}

.customers-login #socialdata .social h4,
.customers-register #socialdata .social h4 {color: #b39271 !important; text-transform: uppercase; font-size: 22px; letter-spacing: 3.2px;}

.customers-account table th,
.customers-order table th {background: #b39271 !important; color: #fff; text-shadow: none !important; border-radius: 0px !important;}
.customers-order .sixteen.columns h4,
.customer_address h4 {color: #b39271 !important;}

.CmsMn h2, .CmsMn h3, .CmsMn h4 {
	font-size: 22px;
	color: #b39271 !important;
	text-transform: uppercase;
	border:0 none;
	margin-bottom:30px;
}
.CmsMn h3 {
	font-size: 20px;
}
.CmsMn h4 {
	font-size: 16px; margin:0px; padding:0px;
}
.CmsMn p {
	margin-bottom:30px;
}

/* ym */
.faq_bor {
    border-bottom: solid 1px #f7f3f4;
    margin-bottom: 30px;
}
.CmsMn.faq_txt h2 {
    margin-bottom: 25px;    margin-bottom: 30px;
}
.CmsMn.faq_txt h2 {
    text-transform: initial;
}
.CmsMn h2, .CmsMn p{text-align:center}
.CmsMn.faq_txt a{text-decoration: underline;}
.faq_bor.bor_no {
    border: none;
}

/* 31-05 */
div#shopify-section-collection-template img {
    max-height: 280px;
    min-height: 280px;
    width: auto;
    height: auto;
}
#shopify-section-collection-template .sixteen.columns .products {
	margin-top: 50px !important;
	display: block;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
{	display:inline-block;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next 
{	top: 50% !important; transform: translateY(-50%);
}
.ui-datepicker td
{	padding-left:1px !important;
}
.ui-datepicker th, .ui-datepicker td span, .ui-datepicker td a
{	text-align:center !important;
}
.ui-datepicker table
{	background:transparent;
}
#ui-datepicker-div 
{	z-index:101 !important; 
}
.displayinline 
{	margin:0 -11px;
}
.displayinline > p 
{	width:50%; float:left; padding:0 11px !important;
}
.ProductDetailsAccordion textarea
{min-height:170px;
}
.gift_message_form input[type="text"], .gift_message_form textarea
{border: 1px solid #b39271; padding:10px 25px 10px 15px; color:#b39271 !important;
}
.gift_message_form textarea 
{	margin-bottom:0;
}	
.gift_message_form input::placeholder, .gift_message_form textarea::placeholder
{	color:#b39271; font-family:'Abrade Book' !important;
}
.gift_message_form input:focus, .gift_message_form textarea:focus
{	border: 1px solid #b39271 !important;
    box-shadow: 0 0 3px rgba(179,146,113,0.2) !important;
}
.confirm_button_duplicate {
    min-height: 44px;
    margin-bottom: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #fff !important;
    background: #b39271;
    width: 100%;
    display: block;
    text-align: center;
    height: 44px;
    line-height: 45px;
    padding: 0;
}
.confirm_button_duplicate:hover
{	background:#000; color:#fff !important;
}
.product_section .product_form 
{	position:relative;
}
.confirm_msg_btn {
    position: absolute;
    bottom: -45px;
    top: auto;
    width: 100%;
}
.product_section .product_form form 
{	margin-bottom:0;
}
.continue_shopping {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: auto;
  bottom: -40px;
}
.gift_message_form #date 
{	background:url(schedule_icon.png) no-repeat 98%; background-size:auto 25px;
}
#shopify-section-cart-template .eight.columns p, #shopify-section-cart-template .eight.columns p span 
{	font-size: 14px;
    text-transform: capitalize;
    color: #b39271;
    clear: right;
    margin: 0;
}
#shopify-section-cart-template .eight.columns p.meta
{	margin-top:10px;
}
.continue_shopping
{	display: block;
    position: absolute !important;
    bottom: -40px;
}
/***********/
.CmsMn.shipping h4
{	text-align: center;
}
.featured-content-section .decShow .cmt-info 
{	display: block;
}
.CmsMn h3
{	text-align:center;
}
.header-logo img,.copyright img 
{	max-width: 200px !important;
}
.header-logo img,.index .header-section
{	margin-bottom: -44px;
}
@media(max-width:900px){
.header-logo img,.index .header-section
{	margin-bottom: 0px;margin-top:0px;
}
.header .header-logo.logo a {
    padding-top: 0 !important;
}
  
}
@media(max-width:1190px){
.header-logo img,.index .header-section
{	margin-bottom: 0px;margin-top:0px;
}
  .header .header-logo.logo a {
    padding-top: 0 !important;
}
}
/******new css*********/
.collection-pg .container
{	display:flex;flex-direction:row;
}
.collection-pg .eight:first-child
{	order:1;
}
.collection-pg .eight:nth-child(2)
{	order:3;
}
.collection-pg .eight:last-child
{	order:2;
}
.collection-pg .eight
{	width: 33.33% !important;padding-left: 15px;padding-right: 15px;
}
.collection-pg h3 
{   font-size: 46px !important;
}
.product_image img.img-top, .gridproducts .block--square img.img-top
{  	position: relative;display: none;
}
.product_image .image__container
{	z-index:9;margin:0 auto 13px;line-height:0;
}
.product_image .image__container:hover img.img-top,
.gridproducts .block--square:hover img.img-top
{   display: block;
}
.product_image .image__container:hover img.img-btm,
.gridproducts .block--square:hover img.img-btm
{   display:none;
}
.product_form .continue_shopping
{	display:none !important;
}
.collection-sub-collections ul.gridproducts li .block__title
{	font-size:16px !important;min-height:29px !important;line-height:29px !important;
  	bottom: -38px;
}
.collection-sub-collections ul.gridproducts li .price
{	bottom: -45px !important;
}
.collection-sub-collections ul.gridproducts li img
{	transition:all 1.0s ease;
}
.collection-sub-collections ul.gridproducts li:hover img
{	overflow:hidden;-webkit-transform: scale(1.02);-moz-transform: scale(1.02);
    -ms-transform: scale(1.02);-o-transform: scale(1.02);transition: scale(1.02);
}
.page-how-it-works .CmsMn p
{	margin-bottom:10px;
}
.page-how-it-works .CmsMn h3
{	margin-top:30px;
}
.page-how-it-works h1.collection_title
{	margin-bottom:0 !important;
}
.text-center
{	text-align:center;
}
h1, h2, h3, h4, h5, h6, .collection_title, .headline, .subtitle
{	    font-family: 'Abrade Book' !important;letter-spacing:1px !important;
}
.ProductDetailsAccordion .initial_txtarea
{	min-height:30px;
}
.credits br
{	display:none;
}
.continue_reading .action_button
{	color: #ffffff !important;
}
.article .container .section.clearfix .four.columns
{	width: 31.5% !important;
}
div.promo_banner p
{	cursor: default !important;
}
.article .header .logo img
{	margin-bottom: -44px;
}
.index .products .title a
{	font-size:16px !important;display:contents;
}
.thumbnail a
{	display: inline-block;
}
.ProductDetailsAccordion div.content p,
.product-template-section .line-item-property__letter label
{	text-align: center;
}
.product-template-section .switch-field.line-item-property__dots
{	text-align: center; margin-bottom: 10px;
}
