/* Tab landscape */
@media only screen and (max-width: 1199px) {
  
  body {padding-top:0px !important;}
  div.promo_banner,
  .header {position: relative;}
  .header-logo.logo a {padding-top: 20px !important;}
  .header ul.main.menu {margin-left: 0px;}
  .header ul.nav_buttons.menu {margin-right: 10px;}
  .logo.header-logo {display:block !important; text-align:center;}
  /*.products {padding-left: 0px;}*/
  
  .newsletter-section .newsletter-wrap p {padding-left:0px !important; padding-right:0px !important;}
  .newsletter-section .text {max-width: 100% !important;}
    
  .footer .four.columns:first-child,
  .footer .four.columns:nth-of-type(2),
  .footer .four.columns:nth-of-type(3),
  .footer .four.columns:nth-of-type(4) {width:25% !important; margin-right:-4px;}
  .footer .four.columns:first-child {margin-left:0px;}
  
  #shopify-section-newsletter.newsletter-section .container {padding-top: 30px !important; padding-bottom: 30px !important;}
  .collection-pg {padding-left: 0px; padding-right: 0px;}
  .collection-pg .eight {padding-left: 15px; padding-right: 15px; margin-right: 0px !important; margin-left: 0px !important;}
  .collection-pg .img-bg {height: 432px !important; min-height: inherit !important;}
  .collection-pg p, .collection-pg span {padding-left: 0px; padding-right: 0px;}
  .collection-pg .eight a {width:100%;}
  
  .customers-login .container .six.columns,
  .customers-register .container .six.columns,
  .page-contact .contact-section .container .eight.columns {width: 460px;}
  
  .product-template-section .product_section {margin-top: 0px; padding-left:35px; padding-right:35px;}
  .product-template-section .eight.columns {padding-left: 15px; padding-right: 15px;}
  .product-template-section h1.product_name {font-size: 36px; line-height: 36px;}
  .product-template-section span.current_price {font-size: 30px;}
  div#shopify-section-collection-template img {max-height: 220px;min-height: 220px;}
  
  .featured-content-section .cmt-title
  {	margin-top: 15px;
  }
  .featured-collection-section
  {	margin-top: 0;
  }
  .footer .copyright p, .footer .copyright .credits a, .footer .copyright .credits
  {	font-size: 12px;
  }
  .footer ul
  {	margin-bottom: 30px !important;
  }
  div.footer
  {	padding-top:30px !important;
  }
  .newsletter-section
  {	margin-top: 15px;
  }
  .logo.header-logo
  {	width:auto !important;position:absolute;left:0;right:0;
  }
  .header div.content
  {	padding: 7px 0px 0px 0px;
  }
  .header .twelve.nav.omega
  {	margin-top: 51px;
  }
  .header .nav ul li
  {	padding: 0 0 0 7px;
  }
}
/* End of max 1199px */

/* Tab portrait */
@media only screen and (max-width: 991px) {
  .collection
  {
    div.container
    {	padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;
		width: 100%;
    }
    #shopify-section-collection-template
    {	margin-right: -10px;margin-left: -10px;
      .sixteen.columns
      {	padding-right: 15px;padding-left: 15px;
        .products
        {	margin-left: -10px;margin-right: -10px;
          .four.columns
          {	width: 33.33%;padding: 0 10px;
            .image__container
            {	margin-left: auto;margin-right: auto;max-width:none;
              img
              {	max-height:none; min-height:100%;
              }
            }
            
          }
        }
      }
    }
  }
  #shopify-section-newsletter.newsletter-section .container
  {	padding: 20px 0 0 !important; margin: 10px auto 0!important;
  }
  .nav_buttons.menu li:first-child,.mobile_menu.toggle_menu li:first-child
  {	display:none;
  }
.toggle_menu {
    display: block;
}
  ul.menu li.navicon_button
  {	display:block !important;float:left;display:none;
  }
  .header ul.main.menu
  {	display:none;
  }
  .footer .container {padding-left: 10px; padding-right: 10px;}
  .footer .copyright .four.columns:first-child,
  .footer .copyright .four.columns:last-child {width: 100% !important;}
  .footer .copyright .eight.columns {width: 100% !important; margin-right: 0px; margin-left: 0px;
	display: block; margin-top: 20px; margin-bottom: 10px;}
  
  .collection-pg .img-bg {height: 340px !important;}
  .collection-pg h3 {font-size: 40px; letter-spacing: 3px;}
  .page-contact .contact-section .container .eight.columns {width: 365px;}
  .page-contact .contact-section .container .eight.columns .four.columns { width:100%; margin-left: 0px; margin-right: 0px;}
  
  
  .product-template-section .eight.columns {width: 100% !important; margin-right: 0px !important; display: block;}
  .product-template-section .product_section,
  .product-template-section .products {padding-left: 0px; padding-right: 0px;}
  
  .cart .shopify-section.header-section + .container,
  .cart .shopify-section.header-section + .container + .container {width: 100%; padding-left: 10px; padding-right: 10px;}
  .cart .update_subtotal_text {width: 74.2% !important;}
  div#shopify-section-collection-template img {max-height: 190px;min-height: 190px;}
  
  
}
/* End of max 991px */


@media only screen and (min-width: 768px) and (max-width: 959px) {
.page .header-section + .container {width: 748px !important;}
}


/* Mobile  landscape */
@media only screen and (max-width: 767px) {
  #shopify-section-newsletter.newsletter-section .container
  {	padding: 0px!important;padding-bottom:0!important;
  }
  
  div.promo_banner p
  {	font-size: 12px !important;
  }
  div.homepage_content
  {	padding: 0px 0 10px;
  }
  #shopify-section-1481509059475 .container .columns.thumbnail
  {	margin-top:0;
  }
  #shopify-section-1481509059475 .homepage_content 
  {	padding:0;margin:0;
  }
  .nav ul.nav_buttons.menu li:last-child
  {	float:right;margin-bottom:5px;
  }
  .featured-content-section .cmt-title
  {	margin-top:0px;
  }
  ul.nav_buttons {top: 0px !important;}
  div.promo_banner p, div.promo_banner span {width: 100% !important;}
  div.promo_banner p, div.promo_banner span, .nav ul li a {letter-spacing: 0px !important;}
  .header div.content {padding-top:5px;}
  .nav ul.nav_buttons.menu {display: block !important; text-align: center;}
  .nav_buttons #customer_login_link {display: none;}
  .nav ul.mobile_menu form.search {display: none;}
  .header-logo.logo a {max-width: 100% !important; padding-top: 0px !important; padding-bottom: 0px !important;}
  .nav ul li a.navicon {padding: 0px !important; border: 0px !important;}
  .toggle_menu {margin-bottom: 0px !important;}
  .homepage_slider .flex-control-nav li a {width: 10px !important; height: 10px !important; margin-right: 6px !important;}
  .featured-content-section .cmt-title {padding-right: 0px;}
  .information-content-section .homepage_content .four.columns,
  .information-content-section .homepage_content .eight.columns {display: block; width: 100%; margin-right:0px;}
  
  .featured-collection-section .products {padding-left: 0px;}
  .featured-collection-section .four.columns.thumbnail {float: left; width: 50% !important; margin-right: 0px; margin-left: 0px !important; clear: none !important;}
  .featured-collection-section .thumbnail a {padding-left: 5px; padding-right: 5px;}
  
  .featured-content-section .four.columns,
  .featured-content-section .eight.columns {margin-bottom: 30px;}
  .featured-content-section .four.columns:last-child {margin-bottom: 0px;}
  
  .newsletter-section .newsletter-wrap form.contact-form input.contact_email {display: block; width: 100% !important;}
  .newsletter-section .newsletter-wrap form.contact-form input.action_button {margin-left: auto !important; margin-right: auto !important; margin-bottom: 0px !important;}
    
  .footer .container {padding-left: 15px; padding-right: 15px; width:100%;}
  .footer .four.columns:first-child,
  .footer .four.columns:nth-of-type(2),
  .footer .four.columns:nth-of-type(3),
  .footer .four.columns:nth-of-type(4) {width: 50% !important;}
  .copyright img {max-width: 100%;}
  
  .collection-pg .eight {width: 100% !important;}
  .collection-pg .img-bg {height: 370px !important;}
  
  .gridproducts .block {padding-bottom: 100%; width: 100%; clear: both;}
  
  .product .container .sixteen.columns [class*="product-"] + .sixteen.columns + .sixteen.columns,
  .product-a .container .sixteen.columns [class*="product-"] + .sixteen.columns + .sixteen.columns,
  .product-b .container .sixteen.columns [class*="product-"] + .sixteen.columns + .sixteen.columns {width: 420px !important; margin: auto; text-align: center; display:block;}
  .product-template-section .products:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0px; height: 0px;}
  .product-template-section .products.product .container .product-template-section .products {text-align: center; margin: 0px -10px; display:block;}
  .product-template-section .products .one-third.column,
  .product-template-section .products .four.columns {width: 50% !important; padding-left: 10px; padding-right: 10px; clear:none;}
  
  .nav_buttons.menu #customer_logout_link {margin-left: 5px; margin-right: 5px;}
  .homepage_slider .flex-direction-nav { display:block !important;}
  .homepage_slider .flex-direction-nav a {width: 20px; height: 20px; font-size: 10px; margin-top: -40px; line-height: 18px;}
  .product-template-section .products {text-align:left;}
  
  .cart .shopify-section.header-section + .container .eight.columns,
  .cart .shopify-section.header-section + .container .four.columns,
  .cart .shopify-section.header-section + .container + .container .four.columns {margin:auto !important; display:block ; float:none !important;}
  
  .customers-account table th,
  .customers-account table td,
  .customers-order table th,
  .customers-order table td {font-size: 12px; line-height: 16px;}
  .customers-account table tr td:first-child,
  .customers-order table tr td:first-child {padding-left: 5px;}
  
  .homepage_slider .flex-control-nav {bottom: 0px !important; position: absolute !important; margin-top: 0px !important; margin-bottom: 0px !important;}
  .homepage_slider .flex-control-nav li a {background: rgba(255,255,255,0.3) !important; margin-right: 0px !important;   margin-left:0px !important;}
  .homepage_slider .flex-control-nav li a.flex-active {background: rgba(255,255,255,0.7) !important;}
  #shopify-section-newsletter.newsletter-section .container {padding-bottom: 20px !important;}
  
  
  body.product .product-template-section .products .one-third.column,
  body.product .product-template-section .products .four.columns {width: 100% !important;}
  div#shopify-section-collection-template .four{margin: auto;padding: 0 10px;}
  
  
}
/* End of max 767px */

/* Mobile portrait */
@media only screen and (max-width: 479px) {
  .footer ul
  {	margin-bottom: 15px !important;
  }
  .footer h6
  {	padding-bottom:0px;
  }
  .header .twelve.nav.omega
  {	margin-top: 12px;padding-top: 29px;
  }
  .four.columns.logo.header-logo.alpha img
  { width: 130px;
  }
  .header-logo.logo a {max-width: 90% !important; margin: auto;}
  ul.nav_buttons .button_label {display: inline-block !important;}
  .header div.content {padding-top: 0px;}
  
  .footer .four.columns:first-child,
  .footer .four.columns:nth-of-type(2),
  .footer .four.columns:nth-of-type(3),
  .footer .four.columns:nth-of-type(4) {width: 100% !important; margin-right: 0px;}
  
  .collection-pg h3 {font-size: 30px; letter-spacing: 2px;}
  .collection-pg .img-bg {height: 260px !important;}
  
  .error-col input.search_box {width: 100% !important;}

  .product .container .sixteen.columns [class*="product-"] + .sixteen.columns + .sixteen.columns,
  .product-a .container .sixteen.columns [class*="product-"] + .sixteen.columns + .sixteen.columns,
  .product-b .container .sixteen.columns [class*="product-"] + .sixteen.columns + .sixteen.columns {width: 300px !important;}
  /*.product .container .product-template-section .products {width: 300px;}*/
  .product-template-section h2.title {letter-spacing: 2px;}
  
  .product-template-section h1.product_name {letter-spacing: 2px;}
  .products span.title,
  .products .thumbnail .price,
  .products .thumbnail .money {letter-spacing: 2px !important;}
  
  div#shopify-section-collection-template .four{width: 100% !important;}
  .displayinline > p
  {	width:100%;
  }
  .ProductDetailsAccordion div.container 
  {	margin:0 auto !important; }
}
/* End of max 479px */
